* ul, ol {list-style: none;padding: 0;margin: 0;}
body {direction: ltr;}
.top-bar {
    width: 100%;
    height: 64px;
    box-shadow: 14px -2px 4px 1px;
}

.site-name {
    font-size: 24px;
    padding: 0 30px 10px 30px;
    float: left;
    margin-top: 12.5px;
    text-shadow: #b3b3b3 0px 0px 4px;
}

.nav {
    width: 26%;
    float: left;
    height: -webkit-fill-available;
    background: #504BCF;
    color: #fff;
}

.rc-span {
    float: right;
    width: 174px;
}

.lc-span {
    float: left;
    width: auto;
    background: #3750af;
    padding: 30px 0px;
}

.left-cate {
    float: left;
}

li.photoofnav {
    margin: 44px 2px 0px 0px;
}
li.photoofnav:active {
    border-left: 3px solid #fff;
}
li.photoofnav img {
    width: 30px;
    margin: 0px 40px;
}

.right-cate li a {
    padding: 0px;
    font-size: 18px;
    color: #fff;
    font-family: arial;
    float: left;
    margin: 26px 30px;
    width: 100%;
}

.content {
    width: 74%;
    float: right;
    margin: 0 auto;
}

.c-books {
    float: right;
    margin: 120px 90px;
}

.c-books a img {
    width: 200px;
    display: block;
}

.c-books ul {}

.c-books ul li {
    float: right;
    padding: 36px 50px;
    border-radius: 100%;
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
    margin: 0px 38px;
}

.c-books ul li a {
    font-size: 22px;
    float: inherit;
    text-align: center;
}

.add-book li {
    margin: 0px 224px !important;
}

.add-art li {
    margin: 0px 224px !important;
}

.add-art-form {
    width: 60%;
    height: 400px;
    float: right;
    margin: 72px 186px;
    padding: 20px;
    box-shadow: 1px 1px 10px #28a7454f;
}

.s1 {
    display: block;
    float: unset;
    margin: 26px 230px;
    background: #28a745b5;
    border: none;
    color: #fff;
    border-radius: 4px;
}











